*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{
	font-family: arial,helvetica,sans-serif;
}
#principal{
	width: 100%;
	height: 550px;
	border-bottom: 5px solid #666;
	color: #fff;
}
header{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo{
	width: 30%;
	height: 550px;
	background-color: #555;
}
#logo img{
	border-radius:60%;
	width: 200px;
	height: auto;
	border: 1px solid #444;
	transition: .5s;
}
#logo img:hover{
  cursor: pointer;
  transition: .1s;
  transform: scale(1.1);
}
figure{
   height: 550px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#logo figure figcaption h1{
	margin-top: 20px;
	text-shadow: 1px 1px #555;
}
#logo figure figcaption p{
	margin-top: 20px;
	text-transform: uppercase;
}

#fundo{
	width: 70%;
	background-image: url(../img/canon.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 1%;
}

#fundo h2{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.8);
	font-size: 2.5em;
	text-align: center;
	line-height: 550px;
	box-sizing: border-box;
	transition: 1s;

}
#fundo h2:hover{
	background-color: rgba(0,0,0,.4);
	cursor: pointer;
	transition: 1s;
	text-shadow: 3px 40px lightblue;
}
@media screen and (max-width: 700px){
	#principal header{
		flex-direction: column;
		 height: 1100px;
		 justify-content: center;
	}
	#fundo{
	width: 100%;
     height: 500px;
	}
	#logo{
	width: 100%;
	 height: 500px;
	}
	#logo img{
		background-position: cover;
	}
}
.tropa{
	color: transparent;
}